@model NetC.JuniorDeveloperExam.Web.Models.BlogPosts.BlogPostModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 5 Considerations for a Content-First Design Approach - NetConstruct Blog</title>
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/custom.css" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">NetConstruct Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <!-- Blog post content -->
            <div class="col-lg-12">

                <!-- Title -->
                <h1 class="mt-4">@Model.Title</h1>

                <hr>

                <!-- Date/Time -->
                <p>Posted on @Model.Date.ToString("MMMM") @Model.Date.Day, @Model.Date.Year</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="@Model.Image" alt="Top 5 Considerations for a Content-First Design Approach">

                <hr>

                <!-- Post Content -->
                @Html.Raw(@Model.HtmlContext)

                <hr>

                <!-- Blog post comment form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Name"></label>
                                    <input type="email" class="form-control" id="Name" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="EmailAddress">Email Address</label>
                                    <input type="password" class="form-control" id="EmailAddress" placeholder="Email Address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Message">Message</label>
                                <textarea id="Message" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Blog post comments -->
                @foreach (var comment in Model.Comments)
                {
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle user-avatar" src="@comment.AvatarLink" alt="@comment.Name">
                        <div class="media-body">
                            <h5 class="mt-0">@comment.Name <small><em>(@comment.CreationDate.ToString("MMMM") @comment.CreationDate.Day, @comment.CreationDate.Year - @comment.CreationDate.ToString("HH:mm"))</em></small></h5>
                            @comment.Message
                        </div>
                    </div>  
                }
            </div>
    </div>

    <script src="/Assets/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Scripts/jquery.validate.min.js"></script>
    <script src="/Assets/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Assets/Scripts/unobtrusive-bootstrap.js"></script>
    <script src="/Assets/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>