@model NetC.JuniorDeveloperExam.Web.Models.BlogPosts.BlogPostModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 5 Considerations for a Content-First Design Approach - NetConstruct Blog</title>
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/Styles/custom.css"
    @*<script src="@Url.Content("~/O.jsx")"></script>*@


</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">NetConstruct Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-4">@Model.Title</h1>
                <hr />
                <p>Posted on @Model.Date.ToString("MMMM") @Model.Date.Day, @Model.Date.Year</p>
                <hr />
                <img class="img-fluid rounded" src="@Model.Image" alt="Top 5 Considerations for a Content-First Design Approach" />
                <hr />
                @Html.Raw(Model.HtmlContext)
            </div>
        </div>
    </div>
    <!-- Blog post comment form -->
    @{
        Html.RenderPartial("CommentInput", new NetC.JuniorDeveloperExam.Web.Models.BlogPosts.CommentPostModel() { BlogPostId = Model.Id });
    }
    <!-- Blog post comments -->
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments)
        {
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle user-avatar" src="@comment.AvatarLink" alt="@comment.Name">
                <div class="media-body">
                    <h5 class="mt-0">@comment.Name <small><em>(@comment.CreationDate.ToString("MMMM") @comment.CreationDate.Day, @comment.CreationDate.Year - @comment.CreationDate.ToString("HH:mm"))</em></small></h5>
                    @comment.Message
                </div>
            </div>
            <button type="button" onclick="replyClicked(@comment.Id)" class="btn btn-primary">Reply</button>
            if (comment.Replies != null)
            {
                foreach (var reply in comment.Replies)
                {
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle user-avatar" src="@reply.AvatarLink" alt="@reply.Name">
                        <div class="media-body">
                            <h5 class="mt-0">@reply.Name - Replied to @comment.Name<small><em>(@reply.CreationDate.ToString("MMMM") @reply.CreationDate.Day, @reply.CreationDate.Year - @reply.CreationDate.ToString("HH:mm"))</em></small></h5>
                            @reply.Message
                        </div>
                    </div>
                }
            }
        }
    }
    <div id="replyPartial"></div>
    <script>
        function replyClicked(id) {

                $("#replyPartial").load("/BlogPosts/ShowReply/"+@Model.Id+"/"+id)
            };
    </script>


    <script src="/Assets/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Scripts/jquery.validate.min.js"></script>
    <script src="/Assets/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Assets/Scripts/unobtrusive-bootstrap.js"></script>
    <script src="/Assets/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>